<a href="https://colab.research.google.com/github/Choi-jeonghoon/AI/blob/main/AI_12_%EC%B5%9C%EC%A0%95%ED%9B%88_Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **S1-Week 4 : Project**

다음 분기에 어떤 게임을 설계해야 할까

**반드시 들어가야 하는 내용.**
- 지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답을 하셔야합니다.
- 연도별 게임의 트렌드가 있을까 라는 질문에 대답을 하셔야합니다.
- 출고량이 높은 게임에 대한 분석 및 시각화 프로세스가 포함

 **Data Description**

- Name : 게임의 이름
- Platform : 게임이 지원되는 플랫폼의 이름
- Year : 게임이 출시된 연도
- Genre : 게임의 장르
- Publisher : 게임을 제작한 회사
- NA_Sales : 북미지역에서의 출고량
- EU_Sales : 유럽지역에서의 출고량
- JP_Sales : 일본지역에서의 출고량
- Other_Sales : 기타지역에서의 출고량

**file_name**
vgames2.csv

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
# from google.colab import files
# import io

# File Uploaded 작업
# uploaded = files.upload()
# df = pd.read_csv(io.BytesIO(uploaded["vgames2.csv"]), encoding='euc-kr')

#Uploaded File 불러오기
headers=['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']

df = pd.read_csv ('vgames2.csv',names = headers)
#행,열의 갯수를 확인해본다
df.shape

(16599, 9)

In [ ]:
#데이터 확인
df.head(11)

                                                   Name  ...  Other_Sales
NaN                                                Name  ...  Other_Sales
1.0                        Candace Kane's Candy Factory  ...            0
2.0                                      The Munchables  ...         0.01
3.0      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...            0
4.0                    Deal or No Deal: Special Edition  ...            0
5.0           Ben 10 Ultimate Alien: Cosmic Destruction  ...         0.04
6.0                              Power Pro Kun Pocket 8  ...            0
7.0               JASF: Jane's Advanced Strike Fighters  ...            0
8.0                      Samurai Warriors: State of War  ...         0.01
9.0                                          Imabikisou  ...            0
10.0  The Penguins of Madagascar: Dr. Blowhole Retur...  ...         0.01

[11 rows x 9 columns]

In [ ]:
#데이터 프레임 정보 확인
df.info()
#Dtype의 int64는 정수, object는 문자열, float64는 실수를 의미

<class 'pandas.core.frame.DataFrame'>
Float64Index: 16599 entries, nan to 16598.0
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16599 non-null  object
 1   Platform     16599 non-null  object
 2   Year         16328 non-null  object
 3   Genre        16549 non-null  object
 4   Publisher    16541 non-null  object
 5   NA_Sales     16599 non-null  object
 6   EU_Sales     16599 non-null  object
 7   JP_Sales     16599 non-null  object
 8   Other_Sales  16599 non-null  object
dtypes: object(9)
memory usage: 1.3+ MB

In [ ]:
#데이터 프레임에서 결측치를 True, 값이 있으면 False를 반환
df.isnull()

          Name  Platform   Year  ...  EU_Sales  JP_Sales  Other_Sales
NaN      False     False  False  ...     False     False        False
1.0      False     False  False  ...     False     False        False
2.0      False     False  False  ...     False     False        False
3.0      False     False  False  ...     False     False        False
4.0      False     False  False  ...     False     False        False
...        ...       ...    ...  ...       ...       ...          ...
16594.0  False     False  False  ...     False     False        False
16595.0  False     False  False  ...     False     False        False
16596.0  False     False  False  ...     False     False        False
16597.0  False     False  False  ...     False     False        False
16598.0  False     False  False  ...     False     False        False

[16599 rows x 9 columns]